{
  "server_url": "http://192.168.1.129:8080",
  "device_id": "raspi4-feeder-01",
  "device_type": "feeder",
  "mode": "feeder",
  "pin_dout": 6,
  "pin_pd_sck": 5,
  "gain": 64,
  "reference_unit": 357.83,
  "offset": 37524.28,
  "scale_threshold_g": 500.0,
  "feeder_change_threshold_g": 3.0,
  "sample_interval_sec": 0.5,
  "enable_env_iv": true,
  "i2c_bus": 1,
  "env_interval_sec": 180,
  "offline_queue_file": "offline_queue.json",
  "mock_mode": false
}
